<header class="mb4 brandon white">
	<div class="container cf">
		<a href="/" class="b f3 white no-underline fl effect_pop-up">processyellow.ca</a>
			<div class="fr f3 white b brandon">
				<div class="is-hidden-on-mobile">
					<a href="/#portfolio" class="b pa1 pa3-l f4 mr3 no-underline brandon white effect_pop-up dib">Portfolio</a>
					<a href="/resume.pdf" class="b pa1 pa3-l f4 mr3 no-underline brandon white effect_pop-up dib">Resume</a>
					<a href="/#contact" class="b pa1 pa3-l f4 no-underline brandon white effect_pop-up dib">Contact</a>
				</div>
			<div class="is-visible-on-mobile">
				<a href="javascript:" data-remodal-target="menu" class="b pa1 pa3-l f4 no-underline brandon white effect_pop-up">Menu</a>
			</div>
		</div>
	</div>
</header>

<!-- Responsive -->
<div data-remodal-id="menu" class="remodal br2 tl f4 b ttu tc brandon">
	<a href="/#portfolio" class="db mt3 mb5 black no-underline">Portfolio</a>
	<a href="/resume.pdf" class="db mb5 black no-underline">Resume.pdf</a>
	<a href="/#contact" class="db mb3 black no-underline">Contact</a>
</div>
