<h1 class="mt0">Latest work</a></h1>
<div class="cf">
	<div class="bg-dreamhost-blue fl-l w-50-l pa3 pa5-ns white mb3 mb0-ns"  min-height: 390px;">
		<img src="/images/logo.dreamhost.white.svg" alt="" style="margin-top: 20px; margin-bottom: 40px;" />
		 <p class="f4-ns lh-copy measure mb4 center">I've been working for DreamHost for over 2 years, doing fun things like upgrading their customer support area, creating a functional <a href="http://dreamhost.github.io/dreamhost.css/" class="light-gray">CSS framework</a> and being Lead Product Designer for their flagship DreamPress product.</p>
		  <a href="/portfolio/dreamhost" class="white underline">Learn more</a>
	</div>
	<div class="fl-l w-50-l pa3 pa5-ns">
		<img src="/images/logo.civiclive.svg" alt="" />
		 <p class="f4-ns lh-copy mb4">I helped CivicLive scale their white-label software product and designed a Learning Management System for elementary and post-secondary schools.</p>
		  <a href="/portfolio/civiclive/" class="underline">Learn more</a>
	</div>
</div>

<!-- <div class="cf container pt4 pb4">
<div class="fl-l w-50-l gray pl5-ns pr5-ns">
	<p class="f4 f2-ns">I try to make the internet a better place.</p>
	<p class="f3-ns lh-copy">Whether that's making a slow site less slow or reducing the number of times you want to smash your head into the keyboard per day, I'm here to help.</p>
</div>
	<div class="fr-l w-50-l mt5">
	<div class="cf ph2-ns mb3">
	<p class="f4-m lh-copy measure"><a href="/portfolio/mad-dog" class="b black">Mad Dog Cafe</a> is a delicious cafe in east Toronto who needed a responsive WordPress website to help customers find them and their menu.</p>
	</div>
	<div class="cf ph2-ns mb3">
	<p class="f4-m lh-copy measure">The <a href="/portfolio/wildlands-league" class="b black">Canadian Parks and Wilderness Society</a> needed individual websites for all 12 of their chapters across Canada that their volunteers could actually update.</p>
	</div>
</div> -->
